<div class="header">
    <h1 class="main-header">
        <span class="main-color">{{ 'home.header.crm_ecommerce'|trans }}</span>
        {{ 'home.header.expert'|trans }}
        {{ 'home.header.and'|trans }}
        <span class="main-color">{{ 'home.header.web'|trans }}</span>
        {{ 'home.header.developer'|trans }}
    </h1>
</div>
