<div class="header">
    <h3><span class="main-color">{{ 'home.greeting.hi'|trans }}</span> {{ 'home.greeting.intro'|trans }}</h3>
    <p>{{ 'home.profile.header'|trans }}</p>
</div>
{{ include('_partials/_social.html.twig') }}
<a class="btn wide" href="{{ path('app_contact') }}"><span>{{ 'button.contact'|trans }}</span></a>
<span class="logo mt-4">
     <img src="{{ asset('build/images/banodev-logo.png') }}" alt="Bartosz Nowak BANO logo"/>
</span>
<div class="company-info mt-4">
    <span class="info-elem">BARTOSZ NOWAK BANO</span>
    <span class="info-elem">NIP: 7372241459</span>
    <span class="info-elem">REGON: 526706508</span>
    <span class="info-elem">EMAIL: <a class="link" href="mailto:contact@banodev.com">contact@banodev.pl</a></span>
    <span class="info-elem">TEL: <a class="link" href='mailto:contact@banodev.com'>+48 575777047</a></span>
</div>
